<div ng-include src="'templates/general/menu.html'"></div>
<div class="am-g">
	<div id="mapper" style="display: hidden"></div>
	<div class="am-u-sm-12">
		<h3 class="am-link-muted am-margin-top">
			<i class="am-icon-location-arrow"></i> &nbsp;您现在的位置是: 
			<span>{{ address }}</span>
		</h3>
	</div>
	<div class="am-u-sm-12">
		<ul class="am-list am-list-static am-list-border">
			<li ng-repeat="point in dataPoints" class="am-cf">
				<span><i class="am-icon-bicycle am-icon-fw"></i> &nbsp;{{point.name}} (距离您{{point.distance}}米)</span>
				<span class="am-badge am-badge-success">{{point.number}}</span>
			</li>
		</ul>
	</div>
</div>
<div ng-include src="'templates/bike/tab-bar.html'"></div>