<div ng-include src="'templates/general/menu.html'"></div>
<div class="am-g">
	<div id="mapper" style="display: hidden"></div>
	<div class="am-u-sm-12">
		<h3 class="am-link-muted am-margin-top">
			<i class="am-icon-location-arrow"></i> &nbsp;您现在的位置是: 
			<span>{{ address }}</span>
		</h3>
	</div>
	<div class="am-u-sm-12" style="margin-bottom: 60px;">
		<ul class="am-list am-list-static am-list-border">
			<li ng-repeat="point in dataPoints" class="am-cf am-text-sm" style="cursor: pointer" ng-click="getWalkRouting($event, point)">
				<span><i class="am-icon-{{group}} am-icon-fw"></i> &nbsp;{{point.name}}</span>
				<span class="am-badge am-badge-success">{{point.number}}</span>		
				<p class="am-margin-vertical-xs am-text-danger am-text-xs"><i class="am-icon-road am-icon-fw"></i> &nbsp;&nbsp;距离您{{point.distance}}米</p>
				<div class="walk-rs" id="walk-rs-{{point.id}}"></div>
			</li>
		</ul>
	</div>
</div>
<div ng-include src="'templates/bike/tab-bar.html'"></div>