<header class="am-topbar" style="margin-bottom: 0">
  <h1 class="am-topbar-brand">
    <a href="#">CityBar</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" 
    data-am-collapse="{target: '#doc-topbar-collapse'}">
    <span class="am-sr-only">搜索</span> 
  <span class="am-icon-search"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</header>